* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.containerr {
    background-color: #ddd;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.inner {
    width: 400px;
}

#text {
    width: 100%;
    margin-bottom: 20px;
}

.toast-message {
    position: fixed;
    z-index: 999;
    right: 30px;
    transition: all .3s ease-in-out;
    color: #fff;
    font-size: 20px;
    padding: 11px 73px;
    border-radius: 10px;
    top: 20px;
    -webkit-box-shadow: 10px 10px 34px 32px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px 32px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px 32px rgba(0,0,0,0.75);
    cursor: pointer;

}

.toast-message-side-in { 
    animation-name: toastAminationIn;
    animation-duration: .4s;
}
.toast-message-side-out { 
    animation-name: toastAminationOut;
    animation-duration: .3s;
}

@keyframes toastAminationIn {
    from {
        transform : translateX(200px);
        opacity: 0
    }
    to {
        transform : translateX(0px);
        opacity: 1;
    }
}

@keyframes toastAminationOut {
    from {
        transform : translateX(0px);
        opacity: 1;
    }
    to {
        transform : translateX(200px);
        opacity: 0;
    }
}